.error-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
}

.h1-access {
  margin: 40px 0 20px;
}

.lock {
  border-radius: 5px;
  width: 55px;
  height: 45px;
}

        body{
            background-color:#c2c4ad;
        }
        .form-floating{
            margin-bottom:20px;
        }

        .siteName{
        margin-right:15%;
        }

        .nav-item{
            margin:0 10px;
        }