<html>
<title>The Room Backend</title>
<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="/data/style.css" rel="stylesheet">
<style>
  p{
    text-align: center;
  }
</style>
<body>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-8 p-sm-8">
            <br><h3 class="card-title text-center mb-5 fw-light fs-5">The Room Backend</h3>
            <p>Hello, This is backend site please click on <a href="https://theroom.onrender.com">The Room</a> for the frontend</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>