<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
  <section th:replace="fragments :: html_header"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Delete User</h5>
              <div th:if="${users.isEmpty()}" class="alert alert-danger"><strong>Danger! </strong>Users are not available in this realm</div>
              <form th:if="${!users.isEmpty()}" id="delete-form">
<!--                <div class="form-floating">-->
<!--                  <input type="text" class="form-control" name="userId"  id="floatingInput" placeholder="User ID" required="required" />-->
<!--                  <label for="floatingInput">User ID</label>-->
<!--                </div>-->
                <div class="form-floating">
                  <select class="form-select" id="userId" aria-label="Default select example" name="userId">
                    <option th:each="user , iter: ${users}" th:value="${user.getId()}" th:text="${user.getEmail()}"></option>
                  </select>
                </div>
                <br><br>
                <div class="d-grid">
                  <input class="btn btn-primary text-uppercase fw-bold" type="button" onclick="takeConformation()" value="Delete" />
                </div>
                <br>
<!--                <section th:if="${deleteMessage != null}">-->
<!--                  <div class="alert alert-success" th:if="${deleteMessage == 'User Deleted'}">-->
<!--                    <strong>Success!</strong> <span th:text="${deleteMessage}"></span>-->
<!--                  </div>-->
<!--                  <div class="alert alert-danger" th:if="${deleteMessage != 'User Deleted'}">-->
<!--                    <strong>Error!</strong> <span th:text="${deleteMessage}"></span>-->
<!--                  </div>-->
<!--                </section>-->
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  const myDiv = document.getElementById("delete-form");
                myDiv.style.display = "none";
</script>
  <script src="/data/apicall.js"></script>
</body>
</html>